PORT=3000
ADMIN_PASSWORD=change-moi-avec-un-vrai-mot-de-passe
ADMIN_TOKEN=change-moi-avec-une-longue-cle-secrete
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=ton-email-de-connexion-brevo
SMTP_PASS=ta-cle-smtp-brevo
SMTP_FROM="Al Nour <contact@alnour-hajj.org>"
